@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}

.bg-primary-color{
    @apply bg-gradient-to-r from-orange-400 to-pink-600 inline-block;
}
body{
    background-color: black;
    
}

html{
    scroll-behavior: smooth;
}

.profile{
    filter: drop-shadow(white 0px 0px 10px)  ;
    transition: 1s;
}

.profile:hover{
    filter: drop-shadow(white 0px 0px 20px) ;

}