@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color{
    @apply text-transparent bg-clip-text bg-gradient-to-r from-sky-400 to-sky-950 inline-block;
}

.bg-primary-color{
    @apply bg-gradient-to-r from-sky-400 to-sky-950 inline-block;
}
body{
    background-color: black;
}

html{
    scroll-behavior: smooth;
}

.email{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-size: 15px;
    font-style: normal;
    transition: text-shadow .3s ease;
    writing-mode: vertical-rl;
  }
  
.email:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4), 
                 0 0 40px rgba(255, 255, 255, 0.2);
    background-blend-mode: color;
    opacity: 75;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}
.delay {
    animation: fade-in 3s;
  }

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

@media only screen and (max-width: 1200px) {
    .frame,  .email {
      display:none;
    }

}
.frame{
    transition: box-shadow .3s ease;
}
.frame:hover{
    box-shadow:  0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4), 
                 0 0 40px rgba(255, 255, 255, 0.2);
    background-blend-mode: color;
    opacity: 75;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}
.socials:hover{
    box-shadow:  0 0 10px rgba(255, 255, 255, 0.8), 
    0 0 20px rgba(255, 255, 255, 0.6), 
    0 0 30px rgba(255, 255, 255, 0.4), 
    0 0 40px rgba(255, 255, 255, 0.2);
background-blend-mode: color;
opacity: 75;
color:rgb(255, 255, 255);
border-radius: 5px;
}
.profile{
    filter: drop-shadow(white 0px 0px 10px)  ;
    transition: 1s;
}

.norm-text{
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}

.nav-text{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 200;
    font-size: 1rem;
    font-style: normal;
    color: rgb(182, 182, 182);
    transition: text-shadow 0.3s ease;
    padding: 1rem;
}

.nav-text:hover{
   
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4), 
                 0 0 40px rgba(255, 255, 255, 0.2);
    background-blend-mode: color;
    opacity: 75;
    color:rgb(255, 255, 255);
    border-radius: 5px;
}

.profile:hover{
    filter: drop-shadow(white 0px 0px 20px) ;

}